article{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 110px;
    padding-bottom: 130px;

    gap: 170px;

    background-color: #FFFFFF;
}
.article-text-area {
    background-color: #FFFFFF;
}

.article-img{
    border-radius: 30px;
    box-shadow: 10px 10px 20px grey;
}
.article-text-area > h3{
    margin-top: 0px;

    font: 36px Pretendard-Bold;

    background-color: #FFFFFF;
}
.article-text-area > span{
    font: 16px Pretendard-Regular;

    background-color: #FFFFFF;
}