main{
    position:relative;
    max-width: 1278px;
    margin: 80px auto -100px;
}

.intro{
    margin-bottom: 120px;
}

main .intro figure{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px;
    gap: 180px;
}

.intro-img{
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px grey;
}

.intro h3{
    margin-top: 0px;

    font: 36px Pretendard-Bold;
}
.intro span{
    font: 16px Pretendard-Regular;
}