.navbar {
    display: flex;
    justify-content: center;

    height: 102px;
    background-color: #F2E9D8;
}
.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1280px;
}
.nav-menu-div {
    display: flex;
    align-items: center;

    gap: 50px;
}
.nav-menu {
    display: flex;
    list-style: none;
    font-size: 16px;
}
.nav-menu li{
    padding: 15px;
}
.nav-download-btn{
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #D97652;
}